In [18]:
import yfinance as yf
TSLA = yf.download("TSLA", start='2015-01-01', end='2020-01-01')

[*********************100%***********************]  1 of 1 completed

In [19]:
TSLA.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-01-02  14.858000  14.883333  14.217333  14.620667  14.620667  71466000
2015-01-05  14.303333  14.433333  13.810667  14.006000  14.006000  80527500
2015-01-06  14.004000  14.280000  13.614000  14.085333  14.085333  93928500
2015-01-07  14.223333  14.318667  13.985333  14.063333  14.063333  44526000
2015-01-08  14.187333  14.253333  14.000667  14.041333  14.041333  51637500

In [20]:
TSLA.to_csv('/Users/User/Desktop/TSLA.csv')